<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout/layout_padrao}">
<head>
	<script src="/js/iridiumit.js"></script>
	<title>Listagem de Produtos</title>
</head>
<body>

	<section class="aw-layout-content js-content layout-pagina container" layout:fragment="conteudo">
			<div class="row">
				<h1 class="titulo-formulario">
					<i class="fas fa-list-ol"></i>
					Listagem de Produtos
				</h1>
			</div>
			
			<div class="alert alert-success alert-dismissible fade show" role="alert"
			th:if="${!#strings.isEmpty(mensagem)}">
			<i class="fa fa-check-circle"></i>
				<span th:text="${mensagem}">
					Mensagem sucesso!
				</span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  				</button>
			</div>
			
			<div class="form-row">
				<div class="table-responsive-sm col-sm-12">
					<table id="tabela-produtos"
						class="table  table-sm table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
						<thead>
							<tr>
								<th class="text-center" scope="col">Código</th>
								<th scope="col">Descrição</th>
								<th class="text-center" scope="col">Estoque</th>
								<th class="text-center" scope="col">Imagem</th>
								<th scope="col" class="text-center" 
									sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_CADASTRAR_PRODUTO')">
									Ações
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="produto: ${produtos}">
								<td class="text-center" th:text="${produto.id}">123</td>
								<td th:text="${produto.descricao}">123</td>
								<td class="text-center" th:text="${produto.estoque}">123</td>
								<td class="text-center" th:if="${produto.url_imagem}">
									<img  id="imagemProduto" class="imagem_produto_listagem" 
									th:src="@{/produto/imagem/{nome}(nome=${produto.url_imagem})}"
										title="Imagem do Produto" />
								</td>
								<td class="text-center" th:unless="${produto.url_imagem}">
									<img  id="imagemProduto" class="imagem_produto_listagem" 
										th:src="@{/images/produto-sem-imagem.jpg}" title="Imagem do Produto" />
								</td>
								<td class="text-center" sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_CADASTRAR_PRODUTO')">
								<form method="POST"	th:action="@{/produto/excluir/{id}(id=${produto.id})}">
										<a class="btn btn-primary btn-sm"
											th:href="@{/produto/editar/{id}(id=${produto.id})}"
											th:title="Editar"> <i class="fa fa-pencil-alt"></i>
										</a>
										<button th:data-nome="|o produto ${produto.descricao}|" type="submit" class="btn btn-danger btn-sm" 
												onclick="return confirmarExclusao(this.getAttribute('data-nome'))" title="Excluir">
											<span class="far fa-trash-alt"></span>
										</button>
									</form>
								</td>
							</tr>
							<tr>
								<td colspan="5" th:if="${produtos.empty}">Nenhum produto
									cadastrado!!</td>
							</tr>
	
						</tbody>
					</table>
				</div>
			</div>
	</section>

</body>
</html>