<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
<link href="/css/estilo.css" rel="stylesheet">
<title>Página de logout</title>
</head>
<body>
	<section class="container layout-pagina">
		<div class="centralizar">
			<h1 class="titulo-formulario">
				<i class="fas fa-home"></i>
				Página logout do projeto -	e-commerce Fapen - 4º ADS
			</h1>
			<h2>Obrigado por ter visitado nossa página, até a próxima!</h2>
		</div>
	</section>
</body>
</html>