<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_padrao}">
<head>
	<title>Página inicial do projeto</title>
</head>
<body>
	<section class="container layout-pagina" layout:fragment="conteudo">
		
		<div class="row">
			<h1 class="titulo-formulario">
				<i class="fas fa-home"></i>
				Página inicial do projeto -	e-commerce Fapen - 4º ADS
			</h1>
		</div>

	</section>
</body>
</html>